@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@1,500&display=swap');

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

.intro {
	background: white;
}

#tsparticles {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

#home {
	font-size: 3.5rem;
	font-weight: 700;
	margin-bottom: 3.2rem;
	text-align: left;
	min-height: 100vh;
	height: 100vh;
	display: flex;
	align-items: center;
	border-bottom: 0;
	color: #fff;
	padding: 0 5.6rem;
}

@media (max-width: 37.5em) {
	#home {
		font-size: 2.5rem;
		line-height: 1.5;
		text-align: center;
		border: none;
		padding-left: 1rem;
		padding-right: 1rem;
		margin: 0%;
	}
	h1 {
		font-size: 1rem;
	}
}

#btn {
	background: linear-gradient(130deg, #a7087f, #560088);
	position: absolute;
	color: #fff;
	z-index: 9999;
}

#btn:hover {
	background: linear-gradient(130deg, #560088, #a7087f);
}
.container {
	margin: 0 auto;
	align-items: center;
	padding: 70px;
	text-align: left;
}

@media (min-width: 37.5em) {
	#btn {
		width: 400px;
		height: 50px;
		text-align: center;
	}
}

#whois {
	padding-top: 50px;
	font-size: 2.5rem;
	font-weight: 700;
	font-family: 'Kufam', cursive;
}
#logo {
	width: 250px;
	height: 250px;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
@keyframes floating {
	from {
		transform: translate(0, 0px);
	}
	65% {
		transform: translate(0, 15px);
	}
	to {
		transform: translate(0, -0px);
	}
}
#myself {
	display: flex;
	height: 100%;
	justify-content: center;
	flex-direction: column;
	font-weight: 400;
	font-family: 'Kufam', cursive;
	font-size: 15px;
	word-wrap: normal;
}
@media (max-width: 37.5em) {
	#whois {
		font-size: 1.5rem;
		line-height: 1.5;
		text-align: center;
		border: none;
		padding-left: 1rem;
		padding-right: 1rem;
		margin: 0%;
	}
	#logo {
		width: 150px;
		height: 150px;
	}
	#btn {
		position: relative;
	}
	#myself {
		height: 100%;
		font-weight: 200;
	}
	.footer hr {
		width: 100%;
	}
}

.social-links {
	display: flex;
	justify-content: center;
	flex-direction: row;
	transition: 0.5s;
}

.social-links:hover {
	color: gray;
}

.footer hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	width: 80%;
	background: gray;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	display: block;
	unicode-bidi: isolate;
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
	margin-inline-start: auto;
	margin-inline-end: auto;
	overflow: hidden;
	border-style: inset;
	border-width: 1px;
	box-sizing: content-box;
	height: 0;
}

.footer-text {
	color: grey;
	font-size: 1.3rem;
}

#up {
	transition: 0.5s;
}

#up:hover {
	color: gray;
}

.social-links {
	display: flex;
	justify-content: center;
	flex-direction: row;
	transition: 0.5s;
	word-spacing: 20px;
}
