@import url('https://fonts.googleapis.com/css2?family=Merriweather');

.blog {
	margin: 0%;
	padding: 50px;
	font-family: 'Merriweather', serif;
	background: wheat;
}
@media (max-width: 37.5em) {
	.blog {
		padding: 20px;
	}
}

.blog h1 {
	text-align: center;
	font-weight: 900;
	font-size: 64px;
	padding-bottom: 100px;
	padding-top: 70px;
}

.blog p {
	font-family: 'Merriweather', serif;
}

.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
	font-size: 1.875rem;
	font-weight: 900;
	margin-bottom: 1rem;
	padding-bottom: 0.25rem;
	border-bottom-width: 1px;
	margin-top: -4rem;
	padding-top: 6rem;
}

.blog a {
	text-decoration: none;
}

.blogs {
	margin: 0%;
	padding: 50px;
	font-family: 'Quicksand', serif;
}

.blog td,
.blog th {
	border: 1px solid gray;
	padding: 8px;
}

.blog tr:nth-child(even) {
	background-color: #f2f2f2;
}

.blog tr:hover {
	background-color: #ddd;
}

.blog th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #282a36;
	color: white;
}

.blog blockquote {
	padding: 0 1em;
	color: #6a737d;
	border-left: 0.25em solid #dfe2e5;
}

/* BLOGS */

.main {
	max-width: 1200px;
	margin: 0 auto;
	font-family: 'Quicksand', serif;
}

.main h1 {
	font-size: 24px;
	text-align: center;
	font-weight: 900;
	font-size: 64px;
	padding-bottom: 70px;
	padding-top: 70px;
}

.main img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

.btn {
	color: #ffffff;
	padding: 0.8rem;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 4px;
	font-weight: 400;
	display: block;
	width: 100%;
	cursor: pointer;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: transparent;
}

.btn:hover {
	background-color: rgba(255, 255, 255, 0.12);
}

.cards {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 100px;
}

.cards_item {
	display: flex;
	padding: 1rem;
}

@media (min-width: 40rem) {
	.cards_item {
		width: 50%;
	}
}

@media (min-width: 56rem) {
	.cards_item {
		width: 33.3333%;
	}
}

.card {
	background-color: white;
	border-radius: 0.25rem;
	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.card_content {
	padding: 1rem;
	background: linear-gradient(130deg, #a7087f, #560088);
}

.card_title {
	color: #ffffff;
	font-size: 1.1rem;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: capitalize;
	margin: 0px;
}

.card_text {
	color: #ffffff;
	font-size: 0.875rem;
	line-height: 1.5;
	margin-bottom: 1.25rem;
	font-weight: 400;
}
.made_by {
	font-weight: 400;
	font-size: 13px;
	margin-top: 35px;
	text-align: center;
}
